{% load omfilters %}
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm rounded py-3 px-4 mb-4">
    <a class="navbar-brand font-weight-bold d-flex align-items-center" href="{%url 'produto:lista'%}">
        <i class="fas fa-store mr-2 text-primary"></i> E-commerce do Gustavo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto align-items-lg-center">
            <li class="nav-item {% if request.resolver_match.url_name == 'lista' %}active{% endif %}">
                <a class="nav-link d-flex align-items-center" href="{%url 'produto:lista'%}">
                    <i class="fas fa-home mr-1"></i> Home
                </a>
            </li>
            {% if request.session.carrinho %}
            <li class="nav-item ml-lg-3">
                <a class="nav-link nav-cart-link d-flex align-items-center position-relative" href="{% url 'produto:carrinho' %}">
                    <i class="fas fa-shopping-cart mr-1"></i>
                    <span class="nav-cart-text mr-1">Carrinho</span>
                    <span class="badge badge-pill badge-primary nav-cart-count position-absolute custom-cart-badge">{{ request.session.carrinho|cart_total_qtd }}</span>
                </a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0 ml-lg-4 custom-navbar-form">
            <input class="form-control mr-sm-2 rounded-pill px-4 custom-navbar-search" type="search" placeholder="Buscar produtos..." aria-label="Search">
            <button class="btn btn-primary rounded-pill px-3" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</nav>