{% load django_browser_reload %}
{% django_browser_reload_script %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


<!doctype html>
<html lang="en">
<head>
    {% include 'parciais/_head.html' %}
    <title>
        {% block titulo %} E-commerce {% endblock titulo %}
    </title>
</head>
<body>
    {% include "parciais/_navbar.html" %}
    <main class="container mt-4 mb-4">
        {% include "parciais/_messages.html" %}
        {% block conteudo %}{% endblock conteudo %}
    </main>
    {% include "parciais/_footer.html" %}
    
    <!-- Script para máscaras -->
    <script src="{% static 'assets/custom/js/mascaras.js' %}"></script>
</body>
</html>