{% extends "base.html" %}
{% load gustavoFilters%}

{% block titulo %}Pedidos de {{user.first_name}}{% endblock titulo %}

{% block conteudo %}
<div class="pedidos-container">
    <div class="container">
        <div class="pedidos-header">
            <h3>Veja seus pedidos {{user.first_name}}</h3>
            <p>Abaixo todos os seus pedidos realizados na loja.</p>
        </div>
        
        <div class="pedidos-table-container">
            <div class="table-responsive">
                <table class="table pedidos-table">
                    <thead>
                        <tr>
                            <th scope="col">Pedido</th>
                            <th scope="col">Total</th>
                            <th scope="col">Quantidade de Itens</th>
                            <th scope="col">Status</th>
                            <th scope="col">Mais detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in pedidos %}
                            <tr>
                                <td class="pedido-number">Pedido N. {{pedido.pk}}</td>
                                <td class="pedido-total">R$ {{pedido.total | formata_preco}}</td>
                                <td>{{pedido.qtd_total}}</td>
                                <td>
                                    <span class="pedido-status {{pedido.get_status_display|lower}}">
                                        {{pedido.get_status_display}}
                                    </span>
                                </td>
                                <td>
                                    <a href="{% url 'pedido:detalhe' pedido.pk %}" class="pedido-details-link">
                                        Ver <i class="fas fa-search-plus"></i>
                                    </a>
                                </td>
                            </tr>              
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include "parciais/_pagination.html" %}
{% endblock conteudo %}
